<div class="fk-card wishlist-card">
  <div class="quick-actions">
    <a href="#" title="Remove from Wishlist" class="remove-wishlist" data-product-id="{{ product.id }}"><i class="fa fa-trash"></i></a>
    <a href="product.html?id={{ product.id }}" title="Quick View"><i class="fa fa-eye"></i></a>
  </div>
  {% if product.badge %}
  <span class="wishlist-badge">{{ product.badge }}</span>
  {% endif %}
  <div class="fk-img">
    <a href="product.html?id={{ product.id }}">
      <img class="img-fluid" src="{{ product.image }}" alt="{{ product.title }}">
    </a>
  </div>
  <div class="fk-body">
    <h5 class="fk-title"><a href="product.html?id={{ product.id }}">{{ product.title }}</a></h5>
    <div class="fk-meta">
      <span class="fk-rating"><i class="fa fa-star"></i> {{ product.rating }}</span>
      <span class="ml-10 text-muted">({{ product.reviewCount }})</span>
    </div>
    <div class="fk-price">
      <span class="price">{{ product.priceFormatted }}</span>
      {% if product.originalPriceFormatted %}
      <span class="old">{{ product.originalPriceFormatted }}</span>
      {% endif %}
      {% if product.discountLabel %}
      <span class="off">{{ product.discountLabel }}</span>
      {% endif %}
    </div>
  </div>
  <div class="fk-actions">
    <button class="btn-outline-theme" type="button" data-action="add-to-cart" data-product-id="{{ product.id }}">Add to Cart</button>
    <button class="btn-theme" type="button" data-action="buy-now" data-product-id="{{ product.id }}">Buy Now</button>
  </div>
</div>

